<div class="columns">
    <div class="column is-8 is-offset-4">
        <div class="box is-block">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            {{burger_name}}
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>