<div class="columns is-vcentered">
    <div class="column is-4">
        <div class="buttons is-pulled-right">
            <a data-id="{{id}}" class="has-background-success button is-primary remake">REMAKE</a>
        </div>
    </div>
    <div class="column is-8">
        <div class="box is-block">
            <article class="media">
                <div class="media-content">
                    <div class="is-size-7">
                        <div class="is-pulled-left">{{burger_name}}</div>
                        <i data-id="{{id}}" class="has-text-danger is-pulled-right fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>