<div class="columns is-vcentered">
    <div class="column is-8">
        <div class="box is-block">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{burger_name}}</strong>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="column is-4">
        <div class="buttons">
            <a class="button is-primary">EAT ME</a>
        </div>
    </div>
</div>